[submodule "plugins/hextile-pipe"]
	path = plugins/hextile-pipe
	url = git@github.com:ansonphong/hextile-pipe.git
[submodule "plugins/hextile-agent"]
	path = plugins/hextile-agent
	url = git@github.com:ansonphong/360-hextile-agent.git
